.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; 
}

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/gameaward.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.navbar .logo{
  height: 60px;
}

#cover-container {
  height: 100vh;
}

#panels{
  display: flex;
  height: 100vh;
}

#panels a {
  display: block;
  cursor: pointer;
  height: 100%;
  flex: 1;
  transition: flex 0.3s;
  text-decoration: none;
}

#panels a:hover{
  flex:1.7;
}

#panels a:hover .panel > p{
  opacity: 1;
}

#panels a .panel {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#panels a .panel > p {
 opacity: 0;
 transition: opacity ease-in-out .3s;
 font-size: 42px;
 font-weight: bold;
 color: white;
}

.gow{
  background-image:url("../img/gow.webp");
}

.gow:hover{
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/gow.webp");
}

.elden{
  background-image:url("../img/elden.jpg");
}

.elden:hover{
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/elden.jpg");
}

.sekiro{
  background-image:url("../img/sekiro.webp");
}

.sekiro:hover{
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/sekiro.webp");
}


#contact {
  height: 30vh;
}
.form-row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}