html, body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.navbar{
    position: fixed;
}
.pageaccueil{
    /* background-image: url(../img/gameaward.jpg); */
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/gameaward.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
h1{
    margin: 0%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
    text-decoration: underline;
}
.description{
    color: white;
    text-align: center;
    width: 70vw;
    font-size: 35px;
}
.Site{
    color: white;
}
.maClasse{
    color: white;
}
.bandeAnnonce{
    color: white;
}
.lesJeux{
    color: white;
}
.banniere1{
    background-color: black;
 }
.panels{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.panel{
    height: 100%;
    flex:1;
    transition: flex 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;

    justify-content: center;

    align-items: center;
   
}
.panel:hover{
    flex:1.7
}
.gow{
    background-image: url("../img/gow.webp");
}

.elden{
    background-image: url("../img/elden.jpg");
  

}
.sekiro{
    background-image: url("../img/sekiro.webp");
    width: 100vw;
}
.banniere2{
   background-color: black;
}
h2{
    text-align: center;
    color: white;
    margin-bottom: 0%;
}
.page2 {
    background-image: url(../img/fondviolet.jpg);
}
.trailer{
    display: flex;
    justify-content: space-between;
}
.banniere3{
    background-color: black;
}
.page3{
    background-image: url(../img/fondviolet.jpg);
}


