html, body{
    margin: 0%;
    padding: 0%;
}
.navbar{
    position: sticky;
}
.panels{
    display: flex;
    height: 93vh;
    width: 100vw;
}
.panel{
    height: 100%;
    flex:1;
    transition: flex 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;

    justify-content: center;

    align-items: center;
   
}
.panel:hover{
    flex:1.5
}
.gow{
    background-image: url("../img/gow.webp");
}

.elden{
    background-image: url("../img/elden.jpg");
  

}
.sekiro{
    background-image: url("../img/sekiro.webp");
    width: 100vw;
}
.banniere{
    background-color: black;
}
h2{
    text-align: center;
    color: white;
}
.page2 {
background-color: grey;
height: 100vh;
}
.cards{
    display: flex;
    justify-content: space-between;
}
