html, body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.navbar{
    position: fixed;
}
.Site{
    color: white;
}
.maClasse{
    color: white;
}
.bandeAnnonce{
    color: white;
}
.lesJeux{
    color: white;
}
.panels{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.panel{
    height: 100%;
    flex:1;
    transition: flex 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;

    justify-content: center;

    align-items: center;
   
}
.panel:hover{
    flex:1.55
}
.gow{
    background-image: url("../img/gow.webp");
}

.elden{
    background-image: url("../img/elden.jpg");
  

}
.sekiro{
    background-image: url("../img/sekiro.webp");
    width: 100vw;
}
.banniere1{
    background-color: black;
}
h2{
    text-align: center;
    color: white;
    margin-bottom: 0%;
}
.page2 {
background-color: grey;
}
.trailer{
    display: flex;
    justify-content: space-between;
}
.banniere2{
    background-color: black;
}
.page3{
    background-color: grey;
}
